@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

.main{
    background-image: url("../assets/images/main.jpg");
    height: 100vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px,100vw);
    
}
.mainmain{
    background-image: url("../assets/images/main1.jpg");
    height: 100vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px,100vw);
}
.carousel-item img {
    max-height: 200px;
  
  width: 206px;
  }
 

.col{
    height: 60vh;
  width: 30vw;
  background-color: rgb(225, 92, 255);
  display: grid;
  align-self: center;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  justify-items: center;

}

.butt button{
    margin-left: 50px;
}
.all{
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 70px;
}
.buttons{
    height: 70vh;
  width: 38vw;
  background-color: beige;
  position: absolute;
  top: 85px;
  left: 700px;
  display: grid;
  justify-content: center;
}
.one{
    display: flex;
            justify-content: center; /* Horizontally center */
            align-items: center;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins','sans-serif';
}

  body{
    background-color: black;
  }
  .carousel-item.active {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
  }
.main .box{
    height: 70vh;
    width: 60%;
    opacity: 0.54;
    position: absolute;
      top: 80px;
    background-color: black;
    padding: auto auto auto auto;
    display: flex;
            justify-content: center; /* Horizontally center */
            align-items: center;
            border-radius: 5px;
}
.hero{
    height: 70vh;
    width: 70%;
    font-family: "Martel Sans", sans-serif;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position:relative ;
    gap: 20px;
    padding: 0 30px;

}
nav{
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}
nav img{
    color: red;
    width: 75px;
    position: relative;
    z-index: 10;
    
}
nav button{
    position: relative;
    z-index: 10;
}


.separation{
    background: rgb(78, 78, 78);
    height: 5px;
    z-index: 15;
  position: relative;
}

.separation1{
    background: black;
    height: 8px;
    z-index: 15;
  position: relative;
}
.btn{
    padding:3px 8px ;
    font-weight: 400px;
    background-color:white ;
    color: white;
    background-color: rgba(248,243,243,0.021);
    border:1px solid white ;
    border-radius: 4px;
    cursor: pointer;
}
.red-btn{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-color: rgb(15, 15, 15);
    border-radius: 4px;
    font-weight: 400px;
}
.hero-buttons{
    display: flex;
    align-items: center;
gap: 16px;
justify-content: center;}
.red-sm{
    background-color:#d6bdf6;
    color: rgb(23, 23, 23);
    width: 90px;
  height: 40px;
  font-size: 17px;
  border: #543c80;

}
.red-sm:hover{
    background-color: #543c80;
    color: azure;
}
.logofff{
    border: #543c80 solid 2px;
    border-radius: 8px;
}


.first{
    display: flex;
    

}
.first .write .head{
    color: white;
    padding: 200px 50px 5px 100px;
    font-size: 50px;
}
.first .write .subtitle{
    color: white;
    padding: 10px 50px 5px 100px;
    font-size: 30px;
}
.image{
    height: 600px;
    z-index: 10;
}
#v1{
    position: relative;
    top: -383px;
    right: -85px;
    height: 260px;
  
}
.taskb {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  .taskb:hover {
    color: yellow; /* Change to desired hover color */
  }

.forms{
    background-color: rgb(32, 32, 32,0.7);
    color: white;
    border-radius: 4px;
    height: 85vh;
  width: 44vw;
  z-index: 10;

  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  top: 60px;
  left: 331px;
    
}
body{
    background-image: url("../assets/images/signinf.jpg");
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
     background-size: max(1000px,100vw); 
}
.create{
    background-image: url("../assets/images/all.jpg");
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
     background-size: max(1000px,100vw);
}
.main1 .up{
    height: 103vh;
    width: 100%;
    opacity: 0.54;
    position: absolute;
    top: 0;
    background-color: black;
}
.btnform{
    background-color:#d6bdf6;
    color: rgb(23, 23, 23);
    width: 90px;
  height: 40px;
  font-size: 17px;
  border: #543c80;
 
}
.sign{
    text-decoration: none;
    color: white;
}
.sign:hover{
    color: #d6bdf6;
}
.btnform:hover{
    background-color: #543c80;
    color: azure;
}
.tfield{
    background-color: rgb(30, 30, 30,0.7);
    border: 2px solid rgb(72, 72, 72);
    color: white;
}
.tfield:hover{
    background-color: rgb(63, 63, 63,0.4);
}

.footer{
    display: flex;
    flex-direction: column;
    color: white;
    margin: auto;
    max-width: 60vw;
}
.faq1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-items{
    display: flex;
    flex-direction: column;
    color: white;
    margin: auto;
    
    
}
.footer-items a{
    font-size: 14px;
    color: rgb(148, 148, 148);
    padding: 5px 0px;
    text-decoration: none;
}
.footer-items a:hover{
    color: white;
}
.contact span{
    
    font-size: 20px;
}
.contact{
    margin: 9px 0px;
}
.carousel-caption {
    position: relative; /* Reset position */
    bottom: auto; /* Reset position */
    left: auto; /* Reset position */
    right: auto; /* Reset position */
    background-color: rgba(0,0,0,0.5); /* Optional: add background color to improve readability */
    padding: 20px;
    color: #ffffff; /* Optional: set text color */
  }