<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <title>Document</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    
    <div class="main martel-sans-semibold ">
        <nav>
            <span><img width="53" src="../static/assets/images/logofff.png" alt=""></span>
        <div class="logofff" >
            

            <a href="/signin"><button class="btn red-sm">Sign In</button class="btn"></a>
        </div>
        </nav>
        <div class="one">
        <div class="box">

        </div>
        <div class="hero">
            <span style="font-size: 40px;">Welcome to TaskMaster!</span>
            <h1>Features</h1>
            <span style="display: flex;"><h3>Reminders - </h3><h3> Email notifications sent 1 hour before task deadlines.</h3></span>
            <span style="display: flex;"><h3>Effortless Task Creation - </h3><h3> Add tasks with titles, descriptions, deadlines</h3></span>
            <span style="display: flex;"><h3>Secure User Authentication - </h3><h3 > Easy sign-up and login.</h3></span>
            <h2>Dont have an account??</h2>
            <h2>To unlock these Features SignIn Now!!</h2>
        </div>
       <div class="separation">

       </div>
    </div>
</div>

</html>
